In [4]:
#Addition
1+1

2

In [5]:
#Variable
#Int
a=8
a

8

In [7]:
#to know the data type of variable
type(a)

int

In [8]:
#Float
b=10.09
b

10.09

In [9]:
type(b)

float

In [ ]:
#String, Float, Boolean, Int are primitive data type

In [10]:
#String
c="sujith"
c

'sujith'

In [11]:
type(c)

str

In [13]:
#Boolean
d=True
d

True

In [14]:
type(d)

bool

In [15]:
#Complex Number
e=1+2j
e

(1+2j)

In [16]:
#to know the defination of any particular function, type shift+tab in the function.
type(e)

complex

In [22]:
#to get the element functions associated to any variable(or data type), type variablename.tab
e.real

1.0

In [24]:
True + True

2

In [25]:
True + False

1

In [27]:
#For single line comment we use ######
#For multiple line comment we use to enclose with triple quote.
'''dfdsfguksky
dsjgfudg
idshfi
iudsgfiualhcoidshohd'''

'dfdsfguksky\ndsjgfudg\nidshfi\niudsgfiualhcoidshohd'

In [30]:
s = "My name is Sujith"
s

'My name is Sujith'

In [29]:
type(s)

str

In [31]:
#Print
print(s)

My name is Sujith

In [32]:
#To know the location of a string
a = "ineuron"

In [33]:
id(a)

2491861479088

In [34]:
#To extract data from a string using index concepts :-
#To extract 'i' from variable a.
a[0]

'i'

In [36]:
a[-2]

'o'

In [37]:
#String Slicing Operation
a[0:5]

'ineur'

In [38]:
#Extracting a data with jump or step size.
a[0:5:2]

'ier'

In [40]:
#we will not get any data if we run below code because this code is not following scaling concept.
#If the direction of move and direction of jump or step is not same in scale then we will get this issue.
a[0:5:-1]

''

In [41]:
#Rectifying the above code
#We will get the data for below code because direction of move and jump or step is same in scale.
a[5:0:-1]

'oruen'

In [43]:
#To reverse the string
a[::-1]

'norueni'

In [44]:
#List - It holds hetrogenous and homogenous data type into different indexes. It is widely used data structure.
#Homogenous means if any variable holds same type data types. Heterogenous means if any variable holds multiple data types.
b = []

In [48]:
#We have 2 ways to create list data structure. But both are not exactly same.
type(b)
b

[]

In [49]:
c = list()
c

[]

In [47]:
type(c)

list

In [51]:
#Homogenous List
a = [1,2,3,4,5,6,7,8,9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
#Heterogenous List.
b = [1,'Sujith','Nair', 1.2, True, 4+7j]
b

[1, 'Sujith', 'Nair', 1.2, True, (4+7j)]

In [53]:
b[2]

'Nair'

In [54]:
b[-4]

'Nair'

In [56]:
type(b[2])

str

In [58]:
b = [1,'Sujith','Nair', 1.2, True, 4+7j,[4,5,6,"fdfs"]]

In [61]:
b[6][3]
b[6][-1]

'fdfs'

In [68]:
b[0:5]

[1, 'Sujith', 'Nair', 1.2, True]

In [69]:
#showing error because not following scaling concepts.
b[-1:-5]

[]

In [71]:
b[-1:-5:-1]

[[4, 5, 6, 'fdfs'], (4+7j), True, 1.2]

In [72]:
b[-1]

[4, 5, 6, 'fdfs']

In [73]:
b[0]

1

In [76]:
b[0:4]

[1, 'Sujith', 'Nair', 1.2]

In [77]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
range(10)

range(0, 10)

In [79]:
range(3,10)

range(3, 10)

In [80]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [86]:
l = [1,2,3,4]
m=[]

In [90]:
for sujith in l:
    m.append(sujith+2)

In [91]:
m

[3, 4, 5, 6, 3, 4, 5, 6, 3, 4, 5, 6]

In [93]:
a = [9,3]
b = []

In [95]:
for i in a:
    b.append(i+2)

In [96]:
b

[11, 5]

In [97]:
b

[11, 5]

In [98]:
a = [1,2]

In [99]:
b = []

In [105]:
for i in a:
    b.append(i)

In [106]:
b

[1, 2]